$font-primary: 'Share Tech', sans-serif;
$green-color: #27DB6F;
$text-white: #E9EAEB;
$bg-darkblue: #111827;


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}

body{
  font-size: 16px;
  font-family: $font-primary;
  background-color: $bg-darkblue;
    overflow-x: hidden;
    
  
}
/*hr{
  width: 80%;
  margin: 0 auto;
  border: 1px solid #272d3b;
}
*/

hr{
  display: none;
}




.CardsSection{
  width: 100%;
  padding-bottom: 70px;

  .Container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0px 60px 0px;


    h2{
      color: $green-color;
      font-size: 3.5rem;
    }

    p{
      font-size: 2rem;
      padding: 20px;
    }


    .CardsContainer{
      padding-top: 2rem;
      width: 100%;
      display: flex;
      gap: 20px;
      justify-content: space-evenly;

      .Card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
        border: 1px solid #27DB6F;

        img{
          width: 14rem;
          padding-left: 3.5rem;
        }

        h2{
          font-size: 2.5rem
        }

        p{
          color: $text-white;
          font-size: 1.4rem;
        }
      }
    }
  }
 
  
}




/*


.SobreSection{
  font-family: $font-primary;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 150px;

  .Container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    
    .Content{
      flex: 1;

      
      h2{
        font-size: 5rem;
        color: $green-color;
      }

      p{
        color: $text-white;
        text-align: left;
           max-width: 700px;
      }

      .TextContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
      }

      button{
        border: 1px solid $green-color;
        color: $text-white;
        background-color: transparent;
        padding: 20px 60px;
        border-radius: 14px;
        font-size: 1rem;
        margin-top: 15px;
        cursor: pointer;
      }
      
    }


    .MidiaContainer{

      img{
        height: 100%;
        width: 600px;
      }
    }
  }

  hr{
   
    width: 70%;
    margin: 0 auto;
    border: 1px solid #272d3b;
  }
}

*/

.SobreSection{
  padding-top: 50px;
  color: white;
  width: 100%;
  padding-bottom: 70px;

  .Wrapper{
    position: relative;
    display: flex;
    flex-direction: column;

    .Description{
      width: 100%;
      background-color:$green-color;
      width: 40rem;
      height: 10rem;
      position: absolute;
      top: 19rem;
      left: 52%;

      p{
        padding: 10px;
        font-size: 300;
        font-size: 1.5rem;
        text-align: left;
      }
      
      
     


    }

    .Container{
      margin: 0 auto;
      max-width: 1400px;
      display: grid;
      gap: 22px;
      grid-template-columns: repeat(3, 30% 25% 40% );


      h2{
        font-weight: normal;
        font-size: 5rem;
        color: $text-white;
        
        span{
          color: $green-color;
          font-weight: 600;
        }
      }

      img{
        width: 100%;
        height: 100%;
      }
    }



  }


   
  }



  /*
.GameplaySection{
  font-family: $font-primary;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 200px;
  padding-bottom: 50px;

  .Container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    
    .Content{
      flex: 1;

      
      h2{
        font-size: 5rem;
        color: $green-color;
        text-align: right;
      }

      p{
        color: $text-white;
        text-align: right;
        max-width: 700px;
      }

      .TextContainer{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 20px;
      }

      button{
        border: 1px solid $green-color;
        color: $text-white;
        background-color: transparent;
        padding: 20px 60px;
        border-radius: 14px;
        font-size: 1rem;
        margin-top: 15px;
        cursor: pointer;
      }
      
    }


    .MidiaContainer{

      img{
        height: 100%;
        width: 600px;
      }
    }
  }

 
}

*/





.SectionGameplay{
  width: 100%;
  padding: 220px 10px;


  .Container{
    margin:  0 auto;
    display: grid;
    padding: 10px;
    gap: 6rem;
    max-width: 1400px;
    grid-template-columns: repeat(2,1fr);
    
    .Content{
      order: 2;
      display: flex;
      flex-direction: column;
      

      .TitleDiv{

        h2{
          font-size: 5rem;
          font-weight: normal;
          color: $green-color;
        }

        span{
          color: $text-white;
        }
        
      }

      .CardsDiv{
        padding-top: 3.5rem;
        display: grid;
        grid-template-columns: repeat(2,200px);
        gap: 40px;


        .Card{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;


          h4{
            font-size: 1.5rem;
            color: $green-color;
          
          }

          p{
            color:  $text-white;
          }
        
        }
      }
    }

  }


  .WrapperMidia{
 

    img{
      height: 100%;
      width: 100%;
    }
  }


  .icon{
    color: $text-white;
    font-size: 4rem;
  }
}