$font-primary: 'Share Tech', sans-serif;
$bg-color-header: #4F9B65;



header{
  color: white;
  font-family: $font-primary;
  width: 100%;
  padding: 22px 5px;
  background-color: $bg-color-header;
  
}