$font-primary: 'Share Tech', sans-serif;
$green-color: #27DB6F;
$text-white: #E9EAEB;
$bg-darkblue: #111827;



footer{
  width: 100%;
  padding: 15px 0px;
  background-color: $bg-darkblue;
  color: $text-white;

  .Container{
    width: 100%;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    margin: 0 auto;    


    img{
      width: 200px;
    }

    ul{
      display: flex;
      flex-direction: column;
      gap: 10px;
      li a{
        color: white;
        font-size: 1.2rem;
        
      }
    }

    .DivContent{
      width: 30rem;
    }

  }

}