$font-primary: 'Share Tech', sans-serif;
$green-color: #27DB6F;
$green-colorv2: #52df8a;
$text-white: #E9EAEB;
$text-whitev2: #c5c8cb;
$bg-darkblue: #111827;
$bg-darkbluev2: #1A2743;
$bg-darkbluev3:#414E6A;

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background:$bg-darkblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-login{
    width: 50vw;
    display: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    
    color:$green-color;
}
.left-gif{
    width: 25vw;
    
}

.right-login{
    width: 50vw;
    display: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: $bg-darkbluev2;
    border-radius: 14px;
    box-shadow: 0px 10px 40px #16191F;
}

.card-login > h1 {
    color: $green-color ;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: $bg-darkbluev3;
    color:$text-white ;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #16191F;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color:$text-white;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: $text-whitev2;
}

.btn-login{
    width: 80% ;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    background-color:$green-color;
    color: $bg-darkblue;
    cursor: pointer;
    box-shadow: 0px 10px 20px -17px $green-colorv2;
}

@media only screen and (max-width:950px){
.card-login{
    width: 85%;
}
}

@media only screen and (max-width:600px){
   .main-login{
    flex-direction: column;
   }
   .left-login > h1 {
    display: none;
   }
   .left-login{
    width: 100%;
    height: auto;
   }
   .right-login{
    width: 100%;
    height: auto;
   }
   .left-gif{
    width:50vw ;
   }

   .card-login{
    width: 90% ;
   }
}