$font-primary: 'Share Tech', sans-serif;
$green-color: #27DB6F;
$text-white: #E9EAEB;
$bg-darkblue: #111827;



.SecBanner{
  font-family: $font-primary;
  padding: 90px 10px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
 
  .Container{
    max-width: 1400px;
    justify-items: center;
    margin: 0 auto;
    display: grid;
    padding: 90px 10px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    .div-texts{
      display: flex;
      gap: 12px;
      flex-direction: column;
      align-items: flex-start;

      h1{
        font-size: 5rem;
        color: $green-color;
      }

      h3{
        font-size: 2.2rem;
        color: $green-color;
      }

      p{
        color: $text-white;
      }

      .div-button{
        button{
          border: 1px solid $green-color;
          padding: 12px 75px;
          background-color: transparent;
          color: $text-white;

        }
      }
    }


    .div-img{
      img{
        height: 300px;
        width: 600px;
      }
    }
  }
  

  }